<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/index.css">

  <title>Inicio</title>
</head>
<body>
    <div class="shadow box">
		<div>
			<img src="images/isoGradient.png" alt="">
			<h1>Bienvenido a Capytall</h1>
			<p>Inicia sesión para continuar:</p>
		</div>
		<div>
			<a class="btnPrimary" href="/user">Iniciar sesión</a>
			<a class="btnSecondary" href="/user/signUp">Registrarse</a>
		</div>
    </div>
</body>
</html>
