<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/navs/nav.css">
	<link rel="stylesheet" href="stylesheets/category/index.css">

	<title>Categorias</title>
</head>
<body>
	<%- include('../navs/nav.ejs') %>
	<div class="box">
		<div class="title">
			<h1>Categorias:</h1>	
		</div>
		<div class="add">
			<a href="" class="btnSecondary"><i class="fi fi-br-search"></i></a>
			<a href="" class="btnPrimary marginLeft"><i class="fi fi-br-plus"></i></a>	
		</div>
		<div class="tableSecondary marginTop">
			<table>
				<thead>
					<tr>
						<th width="30%">Nombre</th>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Lorem impsun no se que mas 1</td>
						<td>
							Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Deserunt beatae sapiente eligendi explicabo, aut tempore in ex quam asperiores blanditiis rem molestiae assu, praesentium a vero debitis laborum voluptate delectus!
							<div class="trActions">
								<a href="" class="btnAlert"><i class="fi fi-sr-trash"></i></a>
								<a href="" class="btnPrimary"><i class="fi fi-sr-pencil"></i></a>
							</div>
						</td>
					</tr>
						<tr>
							<td>Lorem impsun no se que mas 1</td>
							<td>
								Lorem impsun no se que mas 2
								<div class="trActions">
									<a href="" class="btnAlert"><i class="fi fi-sr-trash"></i></a>
									<a href="" class="btnPrimary"><i class="fi fi-sr-pencil"></i></a>
								</div>
							</td>
						</tr>
				</tbody>
			</table>	
		</div>
	</div>
</body>
</html>