<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user/incorrectCode.css">

    <title>Codigo incorrecto</title>
</head>
<body>
    <div class="box">
        <h1>Codigo incorrecto</h1>
        <p>Por seguridad vuelve a intentarlo</p>
        <form method="get" action="/user/signUp">
            <input type="submit" value="Registrarse">
        </form>
        <form method="get" action="/user/signIn">
            <input type="submit" value="Iniciar sesión">
        </form>
    </div>
</body>
</html>