<form method="post" action="">
    <label for="">Nombre:</label>
    <input type="text" name="name" id="name">

    <label for="mail">Correo</label>
    <input type="email" name="mail" id="mail">

    <label for="password">Constrasena:</label>
    <input type="password" name="password" id="password">

    <input type="submit" value="Guardar">
</form>   