<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user/signIn.css">

    <title>Iniciar sesión</title>
</head>
<body>
    <div class="box">
        <div class="page shadow">
            <form class="loginBox" method="post" action="/user/signIn">
                <div>
                    <h1>Iniciar sesión</h1>
                </div>  
                <div class="marginBottom">
                    <label class="labelEmail" for="email"><i class="fi fi-ss-envelope"></i></label>
                    <input type="email" class="textForegroundAlphaPrimary" placeholder="Correo" name="email" id="email" value="<%= emailValue %>">
                </div>
                <div class="marginVertical">
                    <label for="password"><i class="fi fi-ss-lock"></i></label>
                    <input type="password" class="textForegroundAlphaPrimary" placeholder="Contraseña" name="password" id="password">
                </div>
                <div class="submitBox">
                    <input type="submit" class="btnPrimary" value="Iniciar sesión">
                </div>
            </form>
            <div class="signUpBox">
                <div>
                    <h2>¡Hola!</h2>
                </div>
                <div class="textBox">
                    <img src="/images/isoLight.png" alt="Isotipo Capytall" width="64px">
                    <p>Ingresa tu información personal y disfruta todas las novedades que tenemos para tí.</p>
                </div>
                <div class="marginBottom">
                    <a href="signUp"><button class="btnSecondary">Registrarse <i class="fi fi-ss-caret-right"></i></button></a>
                </div>
            </div>
        </div>
        <% if(errors.length != 0){ %>
            <div class="errorBox">
                <% for(let i = 0;i < errors.length; i++){ %>
                    <span><%= errors[i] %></span>
                <% } %>
            </div>
        <% } %>
    </div>
</body>
</html>