<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user/signIn.css">

    <title>Iniciar sesión</title>
</head>
<body>
    <% classDefault = "textForegroundAlphaPrimary" %>
    <% if(classEmail == "default"){classEmail = classDefault}%>
    <% if(placeholderEmail == "default"){placeholderEmail = "Correo"}%>
    <% if(classPassword == "default"){classPassword = classDefault}%>
    <% if(placeholderPassword == "default"){placeholderPassword = "Contraseña"}%>

    <div class="page shadow">
        <form class="loginBox" method="post" action="/user/signIn">
            <div>
                <h1>Iniciar sesión</h1>
            </div>  
            <div class="marginBottom">
                <label class="labelEmail" for="email"><i class="fi fi-ss-envelope"></i></label>
                <input type="email" class="<%= classEmail %>" placeholder="<%= placeholderEmail %>" name="email" id="email" required>
            </div>
            <div class="marginVertical">
                <label for="password"><i class="fi fi-ss-lock"></i></label>
                <input type="password" class="<%= classPassword %>" placeholder="<%= placeholderPassword %>" name="password" id="password" required>
            </div>
            <div class="submitBox">
                <div class="checkBoxPrimary marginBottom">
                    <input type="checkbox" name="staylogged" id="stayLogged">
                    <label for="stayLogged">Mantener sesión</label>
                </div>
                <input type="submit" class="btnPrimary" value="Iniciar sesión">
            </div>
        </form>
        <div class="signUpBox">
            <div>
                <h2>¡Hola!</h2>
            </div>
            <div class="textBox">
                <img src="/images/isoLight.png" alt="Isotipo Capytall" width="64px">
                <p>Ingresa tu información personal y disfruta todas las novedades que tenemos para tí.</p>
            </div>
            <div class="marginBottom">
                <a href="signUp"><button class="btnSecondary">Registrarse <i class="fi fi-ss-caret-right"></i></button></a>
            </div>
        </div>
    </div>
</body>
</html>