<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="user/signUp"><button>Registro</button></a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contrasena</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for( let i = 0; i < users.length; i++ ) { %>
                <tr>
                    <td><%= users[i].id %></td>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].mail %></td>
                    <td><%= users[i].password %></td>
                    <td>Editar | Borrar</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>