/* ICONOS */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    color: var(--foreground);
    background-color: var(--background);
    font-family: Roboto;
}
:root{
    --foreground: #E9E9EC;
    --background: #373740;
    --primary: #8C3FA6;
    --secondary: #82F25C;
    --alert: #F25C76;
}
.shadow{
    box-shadow: 0px 0px 6px #000;
}
/* INPUTS */
.textForegroundAlphaPrimary,
.textForegroundAlphaSecondary,
.textForegroundAlphaError{
    background-color: rgba(233, 233, 236, 0.1);
    color: var(--foreground);
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 8px;
    outline: none;
}
.textForegroundAlphaError{
    border: solid 2px var(--alert);
    color: var(--alert);
}
.textForegroundAlphaPrimary:focus{
    border: solid 2px var(--primary);
}
.textForegroundAlphaSecondary:focus{
    border: solid 2px var(--secondary);
}
/* BOTONES */
.btnPrimary,
.btnSecondary,
.btnForegroundAlphaBackground{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}
.btnPrimary{
    background-color: var(--primary);
    color: var(--foreground);
}
.btnPrimary:hover{
    background-color: var(--secondary);
    color: var(--background);
}
.btnSecondary{
    background-color: var(--secondary);
    color: var(--background);
}
.btnSecondary:hover{
    background-color: var(--primary);
    color: var(--foreground);
}
.btnForegroundAlphaBackground{
    background-color: rgba(233, 233, 236, 0.1);
    color: var(--foreground);
}
.btnForegroundAlphaBackground:hover{
    background-color: rgba(55,55,64, 0.2);
    color: var(--foreground);
}

/* CHECKBOX */

.checkBoxPrimary,
.checkBoxSecondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}
.checkBoxPrimary input,
.checkBoxSecondary input{
    border-radius: 4px;
    margin: 0;
    padding: 0;
    height: 16px;
    width: 16px;
    cursor: pointer;
    -webkit-appearance: none;  
}
.checkBoxPrimary label,
.checkBoxSecondary label{
    cursor: pointer;
    margin-left: 4px;
}
.checkBoxPrimary input{
    background-color: var(--background);
    border: solid 2px var(--primary);
}
.checkBoxSecondary input{
    border: solid 2px var(--secondary);
    background-color: var(--background);
}
.checkBoxPrimary input:checked{
    background-color: var(--secondary);
}
.checkBoxSecondary input:checked{
    background-color: var(--primary);
}
/* MARGIN */
.marginTop{
    margin-top: 8px;
}
.marginBottom{
    margin-bottom: 8px;
}
.marginLeft{
    margin-left: 8px;
}
.marginRight{
    margin-right: 8px;
}
.marginVertical{
    margin: 8px 0;
}
.marginHorizontal{
    margin: 0 8px;
}