@import url("../stylesheets/global.css");

.box{
    width: 80%;
    margin: 16px auto;
}
.tableSecondary tbody tr:hover{
    cursor: default;
}
.statistics,
.tables{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    align-items: stretch;
}
.statistics{
    margin-bottom: 16px;
}
.statistics div{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;
    flex: 1;
}
.statistics div span:first-child{
    font-size: 26px;
}
.tables .titleTable{
    font-size: 20px;
}
.tables > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.totals,
.balance{
    display: flex;
	align-items: center;
	border: solid 2px var(--primary);
	border-radius: 4px;
    margin-top: 16px;
}
.totals a{
    margin: 4px;
}
.totals .total{
    display: flex;
	align-items: center;
	padding: 8px;
	font-size: 18px;
	margin-left: auto;
	align-self: stretch;
	background-color: var(--primary);
}
.balance{
    justify-content: center;
    font-size: 18px;
    border-color: var(--secondary);
}
.balance span{
    background-color: var(--secondary);
    padding: 8px;
    color: var(--background);
}