@import url("../stylesheets/global.css");

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.box{
    padding: 16px;
    border-radius: 4px;
}
.box div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box div:first-child{
    flex-direction: column;
}
.box img{
    height: 110px;
}
.box h1{
    font-size: 26px;
}
.box div:last-child{
    gap: 8px;
}