@import url("../stylesheets/global.css");

h1{
    font-size: 24px;
}
.box{
    width: 80%;
    margin: auto;
    animation: fadeIn ease-out 0.3s;
}
.box div{
    margin-top: 16px;
}
.box .search{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 8px;
}
.box .search span{
    font-size: 14px;
    text-align: center;
}
.box .search * {
    flex: 1;
}
.box .search input{
    flex: 4;
}
@media screen and (min-width: 1200px) {
    .box .search input{
        flex: 6;
    }   
}
@media screen and (max-width: 700px) {
    .box{
        width: 90%;
    }
}
@media screen and (max-width: 570px) {
    .box .search input{
        flex: 3;
    }   
}