.box{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
h1, h2{
	text-align: center;
	font-size: 24px;
}
hr{
	width: calc(100% - 4px);
	color: var(--foreground);
}
.add{
	display: flex;
	align-items: flex-end;
	justify-content: end;
	width: 100%;
}
button i, a i{
	position: relative;
	top: 2px;
}
.seeAll{
	display: flex;
	justify-content: end;
	width: 100%;
}
/* MODAL DE AGREGAR*/
.modalAdd{
	display: none;
	flex-direction: column;
	align-items: center;
	position: fixed;
	padding: 0 32px 16px 32px;
	right: 16px;
	bottom: 16px;
	background-color: var(--background);
	border-radius: 4px;
	z-index: 2;
}
.modalAdd hr{
	width: 100%;
}
.modalAdd .date,
.modalAdd .buttons{
	display: flex;
}
.modalAdd .date label{
	font-size: 14px;
}
.modalAdd .date input{
	width: 26px;
	text-align: center;
}
.modalAdd .date .year{
	width: 62px;
	text-align: left;
}
.modalAdd .date span{
	font-size: 20px;
	margin: 0 4px;
}
.modalAdd textarea{
	width: 214px;
	font-family: "Roboto";
	font-size: 13px;
}
.modalAdd .dollar{
	background-color: rgba(233, 233, 236, 0.1);
	padding: 8px 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	margin-right: 8px;
}
.modalAdd .dollar i{
	position: relative;
	top: 4px;
}
.modalAdd .errorBox{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 8px;
}
/* MODAL DE CONFIGURACION */

.modalConfig{
	display: none;
	text-align: center;
	position: fixed;
	bottom: 16px;
	right: 16px;
	padding: 16px;
	background-color: var(--background);
	border-radius: 4px;
	z-index: 2;
}

/* MODAL DE ELIMINACION */
.modalDelete{
	display: none;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	position: fixed;
	padding: 16px;
	bottom: 16px;
	right: 16px;
	border-radius: 4px;
	background-color: var(--background);
	z-index: 2;
}
.modalDelete .alertText{
	font-size: 14px;
	color: var(--alert);
}

.actions{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 8px;
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 1;
}
.actions #deleteBtn,
.actions #editBtn{
	display: none;
	font-size: 18px;
}
.actions #addBtn{
	font-size: 28px;
	padding: 14px 18px;
}
@media screen and (max-width: 700px){
	.box{
		width: 90%;
	}
	.modalDelete{
		width: 60%;
	}
}
@media screen and (max-width: 470px) {
	.modalAdd{
		left: 16px;
	}
	.modalDelete{
		left: 16px;
		width: auto;
	}
}