<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/isoGradient.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/navs/nav.css">
    <link rel="stylesheet" href="/stylesheets/search.css">

    <title>Buscador general</title>
</head>
<body>
    <%- include('../navs/nav.ejs') %>

    <div class="box">
        <div class="search">
            <span class="textForegroundAlphaPrimary">Buscar por:</span>
            <select class="textForegroundAlphaPrimary">
                <option>Concepto</option>
                <option>Folio</option>
                <option>Monto</option>
            </select>
            <input class="textForegroundAlphaPrimary" type="text">
        </div>
        <div>
            <div class="tableSecondary">
                <table>
                    <thead>
                        <tr>
                            <th>3</th>
                            <th>3</th>
                            <th>3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Siu 1</td>
                            <td>Siu 2</td>
                            <td>Siu 3</td>
                        </tr>
                        <tr>
                            <td>Siu 1</td>
                            <td>Siu 2</td>
                            <td>Siu 3</td>
                        </tr>
                        <tr>
                            <td>Siu 1</td>
                            <td>Siu 2</td>
                            <td>Siu 3</td>
                        </tr>
                        <tr>
                            <td>Siu 1</td>
                            <td>Siu 2</td>
                            <td>Siu 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>