<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/isoGradient.png" type="image/x-icon">
	<link rel="stylesheet" href="stylesheets/navs/nav.css">
	<link rel="stylesheet" href="stylesheets/home.css">

	<title>Menu principal</title>
</head>
<body>
	<%- include('../navs/nav.ejs') %>
	<div class="box">
		<div class="statistics">
			<div class="shadow">
				<span><%= statisticsData[0].incomeCount %></span>
				<span>Ingresos registrados</span>
			</div>
			<div class="shadow">
				<span><%= statisticsData[0].withdrawalCount %></span>
				<span>Retiros registrados</span>
			</div>
			<div class="shadow">
				<span>$<%= statisticsData[0].generalTotal %></span>
				<span>Total de dinero manejado</span>
			</div>
		</div>

		<div class="tables marginTop">
			<div>
				<div class="tableSecondary marginTop">
					<table>
						<thead>
							<tr class="titleTable">
								<th colspan="4">Ingresos</th>
							</tr>
							<tr>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>
				<div class="tableSecondary marginTop">
					<table>
						<thead>
							<tr class="titleTable">
								<th colspan="4">Retiros</th>
							</tr>
							<tr>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>