<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/navs/nav.css">

	<title>Menu principal</title>
</head>
<body>
	<%- include('../navs/nav.ejs') %>
</body>
</html>