<nav class="bar">
    <div class="logo">
        <a href="home"><img src="/images/isoLight.png" alt="Capytall Logo"></a>
    </div>
    <div class="sections" id="sections">
        <div>
            <a class="btnForegroundAlphaBackground" href="/transaction/see/income">Ingresos</a>
            <a class="btnForegroundAlphaBackground" href="/transaction/see/withdrawal">Retiros</a>
            <a class="btnForegroundAlphaBackground" href="/category">Categorias</a>
        </div>
    </div>
    <div class="config">
        <span id="userMenuBtn"><i class="fi fi-sr-sort-down"></i></span>
        <span id="responsive" class="responsive"><i class="fi fi-br-menu-burger"></i></span>
    </div>
</nav>
<div class="userMenu" id="userMenu">
    <div>
        <a href="" class="btnForegroundAlphaBackground">Perfil</a>
        <a href="" class="btnForegroundAlphaBackground">Opciones</a>
        <a href="/user" class="btnForegroundAlphaBackground">Cerrar sesión</a>
    </div>
</div>

<script>
    const responsiveBtn = document.getElementById("responsive")
    const userMenuBtn = document.getElementById("userMenuBtn")

    const sections = document.getElementById("sections")
    const userMenu = document.getElementById("userMenu")

    let responsiveActive = false
    let userMenuActive = false

    responsiveBtn.addEventListener("click",function(){
        if(responsiveActive){
            sections.style.display = "none"
            responsiveActive = false
        }else{
            sections.style.display = "block"
            userMenu.style.display = "none"
            responsiveActive = true
            userMenuActive = false
        }
    })

    userMenuBtn.addEventListener("click",function(){
        if(userMenuActive){
            userMenu.classList.remove('fadeIn')
            userMenu.classList.add('fadeOut')
            setTimeout(() => {
                userMenu.style.display = "none"
            },100)
            userMenuActive = false
        }else{
            userMenu.style.display = "flex"
            userMenuActive = true
            userMenu.classList.add('fadeIn')
            if(sections.getAttribute("style").indexOf("top:") == -1){
                sections.style.display = "none"
                responsiveActive = false
            }
        }
    })
</script>