.box{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
h1, h2{
	text-align: center;
	font-size: 24px;
}
hr{
	width: calc(100% - 4px);
	color: var(--foreground);
}
.add{
	display: flex;
	align-items: flex-end;
	justify-content: end;
	width: 100%;
}
button i, a i{
	position: relative;
	top: 2px;
}
.modalAdd{
	display: none;
	flex-direction: column;
	align-items: center;
	position: fixed;
	padding: 0 32px 16px 32px;
	right: 16px;
	bottom: 16px;
	background-color: var(--background);
	border-radius: 4px;
}
.modalAdd textarea{
	font-family: "Roboto";
	font-size: 13px;
}
.modalAdd .buttons{
	float: right;
}
.modalAdd .errorBox{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 8px;
}
.modalDelete{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	padding: 16px;
	bottom: 16px;
	right: 16px;
	border-radius: 4px;
}
@media screen and (max-width: 700px){
	.box{
		width: 90%;
	}
	.modalAdd{
		width: 90%;
		left: 5%;
		right: 5%;
	}
}